@use '../variables' as *;
.n-card {
  display: flex;
  width: 90%;
  max-width: $tablet;
}
.n-image {
  display: flex;
  justify-self: center;
}
.n-card__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 16px;
  align-items: center;
}
.profilCard {
  &__infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    &-title {
      width: 100%;
      text-align: center;
      font-weight: 900;
      margin-block: 16px 4px;
      @include textGradiant($main_color_dark, $main_color);
    }

    &-cards {
      display: flex;
      flex-direction: column;
      width: 100%;

      gap: 16px;
    }
  }
  &__alerts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    &-title {
      width: 100%;
      text-align: center;
      margin-block: 16px 4px;
      font-weight: 900;
      @include textGradiant($main_color_dark, $main_color);
    }
    &-cards {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;
    }
  }

  &__modify {
    display: flex;
    flex-direction: column;
    &__header {
      text-align: center;
    }

    &__body {
    }

    &__footer {
    }
  }
}
@media (min-width: $mobile) {
  .profilCard {
    &__infos {
      &-cards {
        flex-direction: row;
        justify-content: center;
      }
    }
    &__alerts {
      &-cards {
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}
