@use '../variables' as *;
.n-card {
  display: flex;
  width: 90%;
  max-width: $desktop;
}
.n-image {
  display: flex;
  justify-self: center;
}
.n-card__content {
  // display: flex;
  // width: 100%;
  // flex-direction: column;
  // border-radius: 16px;
  // align-items: center;
}
.profilCard {
  &__infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    &-title {
      width: 100%;
      text-align: center;
      font-weight: 900;
      margin-block: 16px 4px;
      @include textGradiant($main_color_dark, $main_color);
    }

    &-cards {
      display: flex;
      flex-direction: column;
      width: 100%;

      gap: 16px;
    }
  }
  &__alerts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    &-title {
      width: 100%;
      text-align: center;
      margin-block: 16px 4px;
      font-weight: 900;
      @include textGradiant($main_color_dark, $main_color);
    }
    &-cards {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;
    }
  }

  &__modify {
    display: flex;
    flex-direction: column;
    &__header {
      text-align: center;
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-infos {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-flow: row wrap;
        gap: 16px;
        width: 100%;
        &-region {
          width: 100%;
          max-width: 300px;
        }
        &-bool {
          display: flex;
          flex-flow: row wrap;
          gap: 8px;
          width: fit-content;
        }
        &-user {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-flow: row wrap;
          gap: 8px;
        }
      }
      &-alerts {
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-flow: row wrap;
        background-color: red;
      }
      &-alert {
      }
    }

    &__footer {
    }
  }
}
@media (min-width: $mobile) {
  .profilCard {
    &__infos {
      &-cards {
        flex-direction: row;
        justify-content: center;
      }
    }
    &__alerts {
      &-cards {
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}
