@use '_variables' as *;

.filter {
  z-index: 500;
  box-shadow: 0 0 5px;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 20px;
  display: flex;
  .section-body {
    display: flex;
    column-gap: 8px;
    width: 100%;
  }
  > .n-card-header {
    padding: 0;
  }
  > .n-card__content {
    min-width: 100% !important;
    padding: 0;
  }
  > .n-card__footer {
    padding: 0;
  }
  &__order {
    display: flex;
    column-gap: 12px;

    &-select {
      min-width: 160px;
    }
  }
  &-button {
    width: 100%;
    background-color: $main_color;
    color: white !important;
    font-weight: 600;
    &:hover {
      background-color: $main_color_dark !important;
    }
    &:active {
      background-color: $main_color_lighter !important;
    }
  }
}

@media (min-width: 540px) {
  .filter {
    margin-left: 50px;
    width: fit-content;
    flex-direction: row;
    // max-width: calc($mobile/1.5);
    padding: 12px;
    gap: 8px;
    > .n-card__content {
      min-width: fit-content !important;
      padding: 0;
    }
  }
}
