@use 'sass:color';

$mobile: 510px;
$tablet: 768px;
$desktop: 1024px;

$main_color: #18baa8;
$yellow: #e6d75a;
$darkerYellow: color.adjust($yellow, $lightness: -20%);
$white: white;
$black: black;
$lightgray_op: #80808038;
$shadow_0_1: hsla(0, 0%, 0%, 0.1);
$shadow_0_3: hsla(0, 0%, 0%, 0.3);
$shadow_0_5: hsla(0, 0%, 0%, 0.5);

@mixin bgcolor($color) {
  background-color: $color;
}
