@use 'sass:color';

$mobile: 510px;
$tablet: 768px;
$desktop: 1024px;

$main_color: #18baa8;
$main_color_dark: color.adjust($main_color, $lightness: -20%);
$yellow: #e6d75a;
$darkerYellow: color.adjust($yellow, $lightness: -20%);
$white: white;
$black: black;
$lightgray: hsla(0, 0%, 50%, 1);
$lightgray_0_3: hsla(0, 0%, 50%, 0.3);
$alertItem: #f3f4f6;
$shadow_0_1: hsla(0, 0%, 0%, 0.1);
$shadow_0_3: hsla(0, 0%, 0%, 0.3);
$shadow_0_5: hsla(0, 0%, 0%, 0.5);

@mixin bgcolor($color) {
  background-color: $color;
}
@mixin textGradiant($color1, $color2) {
  // texte en dégradé
  background: linear-gradient(135deg, $color1, $color2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
@mixin button() {
  border: 0px !important;

  background-color: $main_color;
  &:hover {
    background-color: $main_color_dark !important;
  }
}
