@use 'sass:color';

$main_color: #18baa8;
$yellow: #e6d75a;
$darkerYellow: color.adjust($yellow, $lightness: -20%);
$white: white;
$black: black;
$L_black_50: color.adjust($black, $lightness: 50%);
$shadow_0_1: hsla(0, 0%, 0%, 0.1);
$shadow_0_3: hsla(0, 0%, 0%, 0.3);
$shadow_0_5: hsla(0, 0%, 0%, 0.5);

@mixin bgcolor($color) {
  background-color: $color;
}
