@use 'variables' as *;

.firstConnexion {
  width: 100%;
  &__main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 40%;
    background: $white;
    border-radius: 16px;
    padding: 16px;
    &__title {
      text-align: center;
      //[START] linear-gradient sur texte
      background: linear-gradient(135deg, $black, $main_color);
      -webkit-background-clip: text; /* Safari/Chrome */
      background-clip: text; /* Standard */
      -webkit-text-fill-color: transparent;
      color: transparent;
      //[END] linear-gradient sur texte
    }
  }
  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__infos {
      width: 100%;
      justify-content: center;
      display: flex;
      gap: 16px;
    }
    &__choices {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      border: 1px solid $lightgray_op;
      border-radius: 8px;
      flex-direction: column;
      padding: 16px;
      .choices {
        display: flex;
        flex-flow: row wrap;
      }
    }
    &__alerts {
      display: flex;
      flex-direction: column;
      padding: 16px;
      border: 1px solid $lightgray_op;
      border-radius: 8px;
      .alerts {
        display: flex;
        gap: 16px;
      }
    }
    &__buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 16px;
      button {
        width: 100px;
      }
    }
  }

  &__text {
    // @include bgcolor($L_black_50);
  }
  &__formItem {
    width: 200px;
  }
}

@media (max-width: $mobile) {
  .firstConnexion {
    width: 100%;

    &__main {
      width: 90%;
    }
    &__card {
      &__choices {
        .choices {
          flex-direction: column;
        }
      }
      &__infos {
        flex-flow: wrap row;
      }
    }
  }
}
