@use '_normalizer';
@use '_variables' as *;
@use 'firstConnexion';
@use 'navbar';
@use 'ProfilView/profilView';
@use 'ProfilView/profilCard';
@use 'filter';
@use 'animations';
html {
  height: 100%;
}
body {
  background-color: $main_color;
  height: 100%;
}
.main {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.routerView {
  margin-top: 130px;
  padding-bottom: 20px;
  width: 100%;
}
#app {
  height: 100%;
}
