@use '_normalizer';
@use '_variables' as *;
@use 'firstConnexion';
@use 'navbar';
@use 'ProfilView/profilView';

body {
  background-color: $main_color;
  height: 100%;
}
.main {
  display: flex;
  justify-content: center;
}

.routerView {
  padding-top: 130px;
}
