@use '_normalizer';
@use '_variables' as *;
@use 'firstConnexion';
@use 'navbar';
@use 'ProfilView/profilView';
@use 'ProfilView/profilCard';

body {
  background-color: $main_color;
  height: 100%;
}
.main {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100dvh;
}

.routerView {
  margin-top: 130px;
  width: 100%;
}
