@use '_normalizer';
@use '_variables' as *;
@use 'firstConnexion';
@use 'navbar';
@use 'footer';
@use 'ProfilView/profilView';
@use 'ProfilView/profilCard';
@use 'filter';
@use 'animations';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background: linear-gradient(135deg, $main_color_dark, $main_color);
  font-family: 'Montserrat';
}

html,
body,
#app {
  height: 100%;
}
.appLayout {
  height: 100dvh; /* prend toute la hauteur de l'écran */
  display: flex;
  flex-direction: column;
}
.appContent {
  flex: 1; /* prend tout l’espace disponible entre navbar et footer */
  margin-top: 130px;
}
